<html>
  <head>
    <meta charset="UTF-8" />
    <title>Confirmación de compra</title>
  </head>
  <body>
    <h1>Confirmación de compra</h1>
    <p>¡Hola {{userName}}!</p>
    <p>Gracias por tu compra en nuestra tienda. A continuación, encontrarás los
      detalles de tu compra:</p>

    <h2>ID del Ticket: {{ticketId}}</h2>

    <h3>Detalles de la compra:</h3>
    <ul>
      {{#each products}}
        <li>
          <strong>{{this.product.title}}</strong><br />
          Cantidad:
          {{this.quantity}}<br />
          Subtotal: ${{this.subtotal}}
        </li>
      {{/each}}
    </ul>

    <p>Total: ${{montoTotal}}</p>

    <p>Gracias por elegir nuestros productos. Esperamos que disfrutes de tu
      compra.</p>
    <p>¡Hasta la próxima!</p>
  </body>
</html>